:root {
  --animation-time: 120s;
  --timer-bg: rgba(9, 139, 9, 0.733);
}
body {
  background: black;
  filter: invert(100);
  margin: 0;
}
.main {
  width: 100vw;
  position: relative;
  padding: 4% 0;
  /*   height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main > *:not(:last-child) {
  margin-bottom: 4rem;
}
.wrapper {
  width: 250px;
  height: 250px;
  position: relative;
  /*     margin: 40px auto; */
  background: white;
}
.wrapper,
.wrapper * {
  box-sizing: border-box;
}
.border {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  /*     top: 50%; */
  transform: translate(-50%, 0);
  border-radius: 50%;
  border: 30px solid rgb(75, 145, 5);
}

.wrapper .spinner {
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  z-index: 200;
  border-right: none;
  animation: rota var(--animation-time) linear 1;
}
.wrapper .pie {
  width: 50%;
  height: 100%;
  transform-origin: 100% 50%;
  position: absolute;
  background: var(--timer-bg);
  /*     border: 5px solid rgba(0,0,0,0.5); */
}
.pie.spinner,
.pie.filler {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}
.pie.filler {
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.wrapper .filler {
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
  left: 50%;
  opacity: 0;
  z-index: 100;
  animation: opa var(--animation-time) steps(1, end) 1 reverse;
  border-left: none;
}
.wrapper .mask {
  width: 50%;
  height: 100%;
  position: absolute;
  background: inherit;
  opacity: 1;
  z-index: 300;
  animation: opa var(--animation-time) steps(1, end) 1;
}

@keyframes rota {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes opa {
  0% {
    opacity: 0;
  }
  50%,
  100% {
    opacity: 1;
  }
}
